.size {
    /* margin: 0; */
    /* width: 100vw; */
    height: auto;
    background-color: black;
    border-bottom: 4px;
    border-bottom-style: solid;
    border-color: orange;
    display: grid;
    /* grid-template-columns: 2fr 8fr 2fr; */
}
.header,
.userHeader {
    font-family: "Press Start 2P";
    margin-top: -5vh;
    padding: 2em 0 0 0;
    background-color: black;
    color: orange;
    text-align: center;
    letter-spacing: .5em;
}

.header {
    font-size: 3em;
    max-height: 20vh;
}

.userHeader h3 {
    font-size: 2em;
}
.userHeader p {
    padding: 2em 0 0 0; 
    font-size: 1.5em;
}

.inst {
    font-family: 'Press Start 2P';
    text-align: center;
    color: orange;
    letter-spacing: 5px;
    font-size: 12px
}

@media screen and (max-width: 500px) {
    /* .size {
        height: auto;
    } */
    .header {
        font-size: 2em;
        padding: 2.5em 0 0 0;
    }
    
    .userHeader {
        padding: 4em 0 0 0;
    }

    .userHeader h3 {
        font-size: 1em;
    }
    .userHeader p {
        font-size: .75em;
    };
}